<%= content_for :title, 'OnlineShop' %>
<!-- Begin Slider -->
<div id="slider">
  <div class="slider-frame">&nbsp;</div>
  <ul class="slider-items">
    <li><img src="/assets/slide1.jpg" alt="Slide 1" /></li>
    <li><img src="/assets/slide1.jpg" alt="Slide 1" /></li>
    <li><img src="/assets/slide1.jpg" alt="Slide 1" /></li>
    <li><img src="/assets/slide1.jpg" alt="Slide 1" /></li>
    <li><img src="/assets/slide1.jpg" alt="Slide 1" /></li>
  </ul>
  <div class="cl">&nbsp;</div>
  <div class="slider-controls">
    <ul></ul>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<!-- End Slider -->
<!-- Begin Post -->
<div class="post">
  <h2>Some Tittle Gose Here</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et lectus aliquam nisi convallis pretium. Aliquam posuere com-modo sagittis. In sed massa eu felis pharetra hendrerit. Morbi aliquam arcu quis nulla pulvinar eget molestie nisl posuere. Praesent vitae lorem lacus. Phasellus ullamcorper condimentum sollicitudin. Sed nec mi ligula. Suspendisse potenti. Donec ac odio est, eget lobortis turpis. Mauris est ipsum, commodo et egestas ac, semper non felis.</p>

</div>
<!-- End Post -->
<!-- Begin Products -->
<div id="products">
  <div class="product">
    <img src="/assets/product-img1.jpg" alt="First TShirt Product" />
    <div class="pr-info">
      <h4>Lorem Ipsum</h4>
      <p>Ut varius lobortis ante, at bibendum quis. </p>
      <span class="pr-price"><span>$</span>58.<sup>99</sup></span>
    </div>
  </div>
  <div class="product">
    <img src="/assets/product-img2.jpg" alt="Second TShirt Product" />
    <div class="pr-info">
      <h4>Lorem Ipsum</h4>
      <p>Ut varius lobortis ante, at bibendum quis. </p>
      <span class="pr-price"><span>$</span>58.<sup>99</sup></span>
    </div>
  </div>
  <div class="product last">
    <img src="/assets/product-img3.jpg" alt="Third TShirt Product" />
    <div class="pr-info">
      <h4>Lorem Ipsum</h4>
      <p>Ut varius lobortis ante, at bibendum quis. </p>
      <span class="pr-price"><span>$</span>58.<sup>99</sup></span>
    </div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
<!-- End Products -->
