<!-- Begin Products Slider -->
<div id="pr-slider">
  <ul>
    <li><a href="#"><img src="/assets/slide-img1.jpg" alt="Slide TShirt 1" /></a></li>
    <li><a href="#"><img src="/assets/slide-img2.jpg" alt="Slide TShirt 2" /></a></li>
    <li><a href="#"><img src="/assets/slide-img3.jpg" alt="Slide TShirt 3" /></a></li>
    <li><a href="#"><img src="/assets/slide-img4.jpg" alt="Slide TShirt 4" /></a></li>
    <li><a href="#"><img src="/assets/slide-img5.jpg" alt="Slide TShirt 5" /></a></li>
    <li><a href="#"><img src="/assets/slide-img6.jpg" alt="Slide TShirt 6" /></a></li>
    <li><a href="#"><img src="/assets/slide-img7.jpg" alt="Slide TShirt 7" /></a></li>
    <li><a href="#"><img src="/assets/slide-img1.jpg" alt="Slide TShirt 1" /></a></li>
    <li><a href="#"><img src="/assets/slide-img2.jpg" alt="Slide TShirt 2" /></a></li>
    <li><a href="#"><img src="/assets/slide-img3.jpg" alt="Slide TShirt 3" /></a></li>
    <li><a href="#"><img src="/assets/slide-img4.jpg" alt="Slide TShirt 4" /></a></li>
    <li><a href="#"><img src="/assets/slide-img5.jpg" alt="Slide TShirt 5" /></a></li>
    <li><a href="#"><img src="/assets/slide-img6.jpg" alt="Slide TShirt 6" /></a></li>
    <li><a href="#"><img src="/assets/slide-img7.jpg" alt="Slide TShirt 7" /></a></li>
  </ul>
  <div class="cl">&nbsp;</div>
</div>
<!-- End Products Slider -->
<!-- Begin Home Boxes -->
<div id="home-boxes">
  <!-- Begin Box -->
  <div class="box first">
    <div class="box-title">
      <img src="/assets/box-img1.png" alt="First Box Image" />
      <h4>Donec imperdiet</h4>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="box-entry">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maece-nas et lectus aliquam nisi convallis pretium.</p>
      <p class="more"><a href="#" title="Read More">Read More</a></p>
    </div>
  </div>
  <!-- End Box -->
  <!-- Begin Box -->
  <div class="box">
    <div class="box-title">
      <img src="/assets/box-img2.png" alt="Second Box Image" />
      <h4>Donec imperdiet</h4>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="box-entry">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maece-nas et lectus aliquam nisi convallis pretium.</p>
      <p class="more"><a href="#" title="Read More">Read More</a></p>
    </div>
  </div>
  <!-- End Box -->
  <!-- Begin Box -->
  <div class="box">
    <div class="box-title">
      <img src="/assets/box-img3.png" alt="Third Box Image" />
      <h4>Donec imperdiet</h4>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="box-entry">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maece-nas et lectus aliquam nisi convallis pretium.</p>
      <p class="more"><a href="#" title="Read More">Read More</a></p>
    </div>
  </div>
  <!-- End Box -->
  <!-- Begin Box -->
  <div class="box">
    <div class="box-title">
      <img src="/assets/box-img4.png" alt="Fourth Box Image" />
      <h4>Donec imperdiet</h4>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="box-entry">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maece-nas et lectus aliquam nisi convallis pretium.</p>
      <p class="more"><a href="#" title="Read More">Read More</a></p>
    </div>
  </div>
  <!-- End Box -->
  <div class="cl">&nbsp;</div>
</div>
<!-- End Home Boxes -->
