<!-- Begin Footer -->
<div id="footer">
  <p class="bottom-menu"><a href="#" title="Home Page">Home</a><span>|</span><a href="#" title="Support Page">Support</a><span>|</span><a href="#" title="My Account Page">My Account</a><span>|</span><a href="#" title="Store Page">The Store</a><span>|</span><a href="#" title="Contact Page">Contact</a></p>
  <p>&copy; 2011 WORLD of T-shirts. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
  <div class="cl">&nbsp;</div>
</div>
<!-- End Footer -->